body {
 position: relative;
 height : auto;
 padding-bottom: 2%;
min-width:900px;
background-image:url('../images/back.png');
  font: 13.34px Arial, sans-serif;
  font-size: medium;
  text-align: left;
}

footer{
	
background-color: #404D59;
width:100%;
height:6%;
border-top: 1px solid rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
bottom:0;
left:0;
position: fixed;
padding-left: 1%;
color: #FFFFFF; 
	
}
