* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body 
{
font-family: Arial, sans-serif;
background: url(../images/back.png)  no-repeat center center fixed; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
 position: relative;
 height : auto;
 padding-bottom: 5%
   
}


.forma{
font-weight:bold;
}

.perigrafh {
  max-width:100%;
  font-size:120%;
  color: #000;
  background-color: #eeeeee;
  list-style-type: none;
  font-family: "Comic Sans MS";
  margin-bottom: 2em;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 25em;
}


footer{
	
background-color: #404D59;
width:100%;
height:6%;
border-top: 1px solid rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
bottom:0;
left:0;
position: fixed;
padding-left: 1%;
color: #FFFFFF; 
	
}



